.focus_img {
  position: fixed;
  z-index: 20;
  transition-duration: 0.4s;
  width: 92%;
  max-width: 28rem;
  left: 50%;
  top: 50%;
  transform-origin: center;
  &-isClosed {
    transform: translate(-50%, -50%) scale(0);
  }
  &-isOpened {
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%) scale(1);
  }
  img {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    padding: 0.5rem;
    background-color: #fff;
  }
}
.btn_close {
  position: absolute;
  z-index: 200;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  mix-blend-mode: difference;
}
.btn_close::before, .btn_close::after {
  content: '';
  position: absolute;
  translate: -50% -50%;
  background: #fff;
  z-index: 300;
  width: 30px;
  height: 3px;
}
.btn_close::before {
  rotate: z 45deg;
}
.btn_close::after {
  rotate: z -45deg;
}
