.footer {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  // font-family: sans-serif;
  @media screen and (min-width: 700px) {
    flex-direction: row;
  }
  a {
    color: #000;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      content: '';
      position: absolute;
      top: 65%;
      width: 0;
      height: 2px;
      background-color: #000;
    }
  }
}
.footer__contact:hover.footer__contact::after, .footer__about:hover.footer__about::after {
  transition-duration: 0.3s;
  width: 100%;
}