.footer {
    background-color: aliceblue;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* a {
    background-color: red;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
} */
@media screen and (min-width: 768px) {
    .footer {
        position: absolute;
        padding: 1rem;
        right: 0;
    }
}