@use './_var';

.header {
  position: fixed;
  height: var.$header-height;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // font-family: sans-serif;
  mix-blend-mode: difference;
  z-index: 10;
  &__title {
    padding: 0 1rem;
    @media screen and (min-width: 500px) {
      padding: 0 2rem;
    }
    &__link {
      color: var.$main-bg-color;
    }
    span {
      transition-duration: var.$transition-duration;
      position: absolute;
      transform-origin: 0;
    }
  }
}
.title__is-closed {
  scale: 0 1;
}