@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}
a {
  text-decoration: none;
}