$burger-width: 1.5rem;
$burger-height: calc($burger-width / 10);
$header-height: 5rem;
$link-height: 1rem;
$transition-duration: 0.5s;
$border-link: 1px solid black;

$first-contact-width: 3.5rem;
$link-contact-width: 5rem;
$offsetIsOpen: calc(($link-contact-width * 2) + $first-contact-width);
$gap-img: 1rem;
$text-color: #000;